.App {
  width: 100vw;
  text-align: center;

  &__title {
    display: block;
    background: rgb(40, 40, 211);
    color: rgb(230, 230, 230);
    padding: 12px;
  }

  &__lang-btns-container {
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    width: min-content;
    box-shadow: 0 0 1px black;
    overflow: hidden;

    button {
      margin: -1px;
      transition: all 0.4s;

      &.--active {
        background: rgb(255, 191, 0);
      }
    }

    /* Add border in between buttons */
    button + button {
      border-left: 1px solid grey;
    }
  }

  &__sequence-controls {
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 400px;
    margin: 0 auto;
    background: rgba(128, 128, 128, 0.098);
    margin-bottom: 10px;

    button {
      color: white;
      border-radius: 3px;
    }
  }

  &__generate-btn {
    display: block;
    margin: 0 auto;
    background: blue;
    transform: scale(1.2);
  }

  &__clear-btn {
    background: lighten(red, 10%);
  }

  &__repo-link {
    position: fixed;
    top: 12px;
    right: 20px;
    color: white;
  }
}
