.App {
  width: 100vw;
  text-align: center;

  &__lang-btns-container {
    margin: 5px auto 20px;
    border-radius: 5px;
    display: flex;
    width: min-content;
    box-shadow: 0 0 1px black;
    overflow: hidden;

    button {
      padding: 5px 10px;
      outline: none;
      font-size: 16px;
      border: none;
      margin: -1px;
      transition: all 0.4s;

      &.--active {
        background: rgb(255, 191, 0);
      }
    }
  }
}
